@model List<JobAdvertVM>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container pt-5">
    <h1 class="text-center text-capitalize text-light">İş İlanları</h1>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="card col-3 m-4" style="width: 18rem;">
                <div class="card-title p-1">
                    <h5 class="">@item.JobPosition</h5>
                    <hr />
                </div>
                <div class="card-body">
                    <span class="card-text">İlan Sahibi :</span>
                    <span class="card-text">@item.CompanyName</span>
                </div>
                <div class="card-footer">
                    <a asp-controller="JobAdvert" asp-action="Detail"  asp-route-id="@item.Id" class="btn btn-primary">İlan Detayı</a>

                </div>
            </div>
        }
    </div>

</div>

